.site-footer h4, .site-footer .footer-logo {
    margin-bottom: 30px;
    max-width: 150px;
}

.site-footer ul {
    padding-left: 0;
}

.site-footer ul li {
    list-style-type: none;
}

.site-footer {
    padding: 50px 0;
    background: #ffffff;
    border-top: 1px solid #d4d6d8;
    display: flex;
    flex: 0 0 50px;
    flex-wrap: wrap;
    align-items: center;
}
